absl-py==2.1.0
attrs==24.2.0
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
deap==1.4.2
Flask==3.1.0
flatbuffers==24.3.25
fonttools==4.53.0
googlemaps==4.10.0
idna==3.10
itsdangerous==2.2.0
jax==0.4.34
jaxlib==0.4.34
ml-dtypes==0.3.2
Jinja2==3.1.6
kiwisolver==1.4.5
MarkupSafe==3.0.2
matplotlib==3.9.0
mediapipe==0.9.0.1
networkx==3.4.2
numpy==2.0.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
pandas==2.2.3
pillow==10.3.0
protobuf==4.25.4
pycparser==2.22
pyparsing==3.1.2
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
scipy==1.14.0
six==1.16.0
sounddevice==0.5.0
tzdata==2025.1
urllib3==2.3.0
Werkzeug==3.1.3
